.searchIcon {
    color: white;
    fill: white;
    padding-right: 0.2rem;
}

.searchDiv {
    align-items: center;
    padding: 0;
    background-color: #202224;
    width: 224px;

}

.searchLink {
    text-decoration: none;
    font-size: 0.8125rem;
    color: white;
    font-weight: bold;
    margin: none;
    padding-left: 0.5rem;
}