.searchIcon {
    color: white;
    fill: white;
}

.searchDiv {
    align-items: center;
    border: 1px white dotted;
    padding: 0;

}

.searchLink {
    text-decoration: none;
    font-size: 0.8125rem;
    color: white;
    font-weight: bold;
    border: 1px white dotted;
    margin: none;
}